$direction: rtl;
$reverse-direction: ltr;
$start-direction: right;
$end-direction: left;

$font-face: 'Noto Kufi Arabic';
$font-face-bold: 'Noto Kufi Arabic Bold';
$font-face-other: 'BPReplay Regular';
