$direction: ltr !default;
$reverse-direction: rtl !default;
$start-direction: left !default;
$end-direction: right !default;

$font-face: 'BPReplay Regular' !default;
$font-face-bold: 'BPReplay Regular Bold' !default;
$font-face-other: 'Noto Kufi Arabic' !default;
