@font-face {
  font-family: 'BPReplay Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bpreplay-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoKufiArabic-Regular.woff2') format('woff2'), url('../fonts/NotoKufiArabic-Regular.woff') format('woff');
}
