// INITIAL VALUES
$base-font-size: 16px !default;
$container-max-width: 1040px !default;
$haeder-height: 75px !default;
$transition-base: all 0.3s ease !default;


// COLORS
$monochrome-100: #ffffff !default;
$monochrome-200: #f0efe9 !default;
$monochrome-300: #d8d8d8 !default;
$monochrome-400: #7e7e7e !default;
$monochrome-500: #262626 !default;
$monochrome-600: #595959 !default;

$primary-100: #50E4A5 !default;
$primary-200: #01b0ac !default;

$color-map: (
    monochrome-100: $monochrome-100,
    monochrome-200: $monochrome-200,
    monochrome-300: $monochrome-300,
    monochrome-400: $monochrome-400,
    monochrome-500: $monochrome-500,
    monochrome-600: $monochrome-600,
    primary-100: $primary-100,
    primary-200: $primary-200,
    ) !default;

// BREAK POINTS 
$grid-breakpoints: (
    xs: 0,
    sm: 400px,
    md: 768px,
    lg: 1025px,
    xl: 1280px,
    xxl: 1440px) !default;